
// BLOCK EXPERIENCE

.experienceFaceContainer {

  > h3 {
    font-size: 23px;
    margin-bottom: 20px;
    color: #3b3a3a;
  }

  .blockExperience {
    display: inline-block;
    border: 1px darkslategray solid;
    position: relative;
    padding: 20px;
    font-size: 25px;
    border-radius: 10px;
    width: 80%;

    > div {
      color: gray;
      display: flex;
      flex-direction: row;

      // Div pour le titre et la description
      > div  {
        font-size: 15px;
        text-align: left;
      }
      .dateExperience {
        font-size: 15px;
        margin: 10px;
        min-width: 100px;
      }
      .titleExperience {
        font-size: 18px;
        font-weight: bold;
      }

      .descriptionExperience {
        margin: 10px 0px;
      }

      // Container des Tags
      .tagsExperience {
        margin-top: 15px;

        // TAGs
        span {
          padding: 5px 10px 5px 10px;
          background-color: #282c34;
          border-radius: 10px;
          margin: 0px 10px 0px 0px;
          color: white;
        }
      }

    }
    &:hover {
      transition: all .4s ease;
      background-color: #dfdddd;
      border: 1px solid #4b4b4b;

      .dateExperience {
        color: #284d53;
      }

      .titleExperience {
        font-size: 18px;
        font-weight: bolder;
        color: black;
      }
    }
  }
}
