
.studyFaceContainer {

    > h2 {
        font-size: 23px;
        margin-bottom: 20px;
        color: #3b3a3a;
    }

    .blockStudy {
        margin: auto;
        padding: 10px;
        border-radius: 10px;
        border: 1px solid gray;
        width: 80%;
        font-size: 20px;
        text-align: left;
        margin-bottom: 50px;
        h2 {
            font-size: 22px;
            margin: 5px 0px;
            color: #3b3a3a;
            font-weight: 500;
        }
        p {
            margin: 10px 0;
            color: #282c34;
            display: flex;
            flex-wrap: wrap;
            padding: 0;

            > span {
                margin: 2px 3px 0 2px;
                background-color: #3b3a3a;
                padding: 5px ;
                border-radius: 10px;
                color: whitesmoke;
                font-size: 15px;
            }
        }
        > div {
            color: #282c34;
            font-weight: 200;
        }
    }

}
