$customGrayColor : #3b3a3a;
$descriptionLeftMargin : 50px;

.container {
    display: inline-flex;
    background: linear-gradient(to right, white, #f0f0f0);
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
}

.block{
    background-color:  whitesmoke;
    position: relative;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    transition: all .2s ease-in-out;
    box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.51);
    margin: 30px 0px 30px 0px;
    &:hover {
        background-color: #cbded9;
        transform: scale(1.1);
    }
}

.block img {
    height: 100px;
    width: 300px;
    z-index: 1;
    border-radius: 10px;
    background-image: url('../assets/shanks.png');
}

.block span {
    font-size: 20px;
    color: gray;
    padding: 10px 10px 10px 30px;
}

.link {
    fill: #3b3a3a;
    color: darkorange;
    border-radius: 100px;
}

.link:hover {
    fill: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 32px -8px #000000;
}


.blockContainer {
    position: relative;
    right: 0px;
    margin-left: auto;
    width: 50%;
    padding: 3%;
}

#container {
    background-color: #f4f4f4;
}


#containerPresentation {
    position: absolute;
    width: 550px;
    height: 500px;
}

.Description {
    @extend #containerPresentation;
    font-size: 20px;
    color: $customGrayColor;
    top: 200px;
    left: $descriptionLeftMargin;
}

.firstDescription  {
    @extend #containerPresentation;
    font-weight: bolder;
    padding: 5px;
    border-radius: 5px;
    height: auto;
    width: auto;
    top: 130px;
    left: $descriptionLeftMargin;
    font-size: 23px;
    color: #282c34;
}

.Name {
    @extend #containerPresentation;
    font-weight: bolder;
    font-size: 40px;
    color: $customGrayColor;
    top: 70px;
    left: $descriptionLeftMargin;
}


.smallBlocksContainer {
    position: absolute;
    top: 400px;
    left: 50px;
    display: flex;
    flex-direction: column;
}

.smallBlock {
    position: relative;
    background-color:  white;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    justify-content: space-evenly;
    transition: all .2s ease-in-out;
    //box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.51);
    margin: 15px 0px 15px 0px;

    &:before {
        content: '';
        background: linear-gradient(45deg, #ededed, #bdbdbd, #868686, #3d3d3d, #000000, #3d3d3d, #868686, #bdbdbd, #ededed);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(8px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    &:active {
        color: #000
    }
    &:active:after {
        background: transparent;
    }
    &:before {
        opacity: 1;
    }
    &:after {
        z-index: -1;
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: #cbded9;
        left: 0;
        top: 0;
        border-radius: 10px;
    }
    &:hover {
        border: 1px transparent solid;
        transform: scale(1.1);

        img {
            opacity: 1;
        }
    }
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%,-50%);
        height: 50px;
        width: 50px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    span {
        font-weight: bold;
        color: #282c34;
        align-self: flex-start;
    }
}

.smallBlockClicked {
    position: relative;
    background-color:  white;
    width: 350px;
    border-radius: 10px;
    padding: 30px;
    display: flex;
    flex-direction: row;
    border: 1px black solid;
    justify-content: space-evenly;
    transition: all .2s ease-in-out;
    //box-shadow: 0px 0px 26px -5px rgba(0,0,0,0.51);
    margin: 15px 0px 15px 0px;

    &:before {
        content: '';
        background: linear-gradient(45deg, #ededed, #bdbdbd, #868686, #3d3d3d, #000000, #3d3d3d, #868686, #bdbdbd, #ededed);
        position: absolute;
        top: -2px;
        left:-2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(8px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        border-radius: 10px;
    }
    &:active {
        color: #000
    }
    &:active:after {
        background: transparent;
    }
    &:before {
        opacity: 1;
    }
    &:hover {
        border: 1px transparent solid;
        transform: scale(1.1);

        img {
            opacity: 1;
        }
    }
    @keyframes glowing {
        0% { background-position: 0 0; }
        50% { background-position: 400% 0; }
        100% { background-position: 0 0; }
    }
    img {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(-50%,-50%);
        height: 50px;
        width: 50px;
        opacity: 0;
        transition: all 0.3s ease-in-out;
    }
    span {
        font-weight: bold;
        color: #282c34;
        align-self: flex-start;
    }
}