.link {
    fill: #3b3a3a;
    color: darkorange;
    transition: all .2s ease-in-out;
    border-radius: 100px;
}

.link:hover {
    fill: white;
    transform: scale(1.1);
    box-shadow: 0px 0px 32px -8px #000000;
}